body {
    margin: 0;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid #ffa500
}

.header__left-side {
    display: flex;
    align-items: center
}

.header__film-icon {
    width: 55px;
}

.header__title {
    margin: 0;
}

.header__search {
    max-width: 250px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
}

.header__search:focus-visible {
    outline: none;
    border: 2px solid rgb(232, 190, 54);
    box-shadow: 0 0 10px rgb(232, 190, 54);
}

.main__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie-block {
    width: 269px;
    /*height: 410px;*/
    height: 700px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgb(232, 190, 54);
    cursor: pointer;
    transition: height 1s ease-in-out;
    overflow: hidden;

}

.movie-block:hover {
    box-shadow: 0 0 10px rgb(232, 190, 54);
}

.movie-block__background {
    width: 269px;
    height: 410px;
    background-position: center;
    background-size: cover;
}

.rating {
    position: absolute;
    top: 0;
    width: 35px;
    height: 24px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.rating-big {
    background-color: #3bb33b
}

.rating-medium {
    background-color: #aaaaaa;
}

.rating-little {
    background-color: #ff0b0b
}

.movie-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(232, 190, 54);
    margin: 0;
}

.info-movie {
    cursor: auto;
}

.plot-info {
    font-size: 12px;
    text-indent: 15px;
    padding: 5px;
    text-align: justify;
    color: #aaaaaa;
}

.genres-movie, .stars-movie {
    margin: 5px;
    font-size: 13px;
}

.genres-title, .stars-title {
    font-weight: 600;
    color: #e69526
}

.genres-info, .stars-info {
    color: #aaaaaa;
    font-size: 13px;
}

.button-watch-movie {
    width: 150px;
    height: 30px;
    background-color: rgb(232, 190, 54);
    color: #000000;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.button-watch-movie:hover {
    background-color: #e69526;
    color: #ffffff;
    box-shadow: 0 0 10px rgb(232, 190, 54);
}

.link-watch-movie {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.text-link {
    text-decoration: none;
    color: rgba(178, 169, 169, 0.96);
}

.text-link:hover {
    color: rgb(232, 190, 54);
    cursor: pointer;
    fill: rgb(232, 190, 54);
    transition: all 0.2s ease-in-out;
}

.footer {
    border-top: 7px solid #ffa500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: rgba(178, 169, 169, 0.96);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 60px;
    width: calc(100% - 60px);
    max-width: 1440px;
    align-items: center
}

.footer__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.rss-logo {
    fill: rgba(178, 169, 169, 0.96);
    height: 40px;
    width: 120px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column
    }

    .header__search {
        margin-bottom: 10px;
    }

    .movie-block {
        width: 88.8vw;
        height: 55vw
    }

    .movie-block:hover {
        width: calc(88.8vw * 1.05);
        height: calc(55vw * 1.05);
    }
}

@media (max-width: 380px) {

    .footer_container {
        flex-direction: column;
    }

    .footer__data {
        justify-content: space-evenly;
    }
}